@charset "utf-8";
/*  CSS Document  */
/*  Survey Styles  */
.qOption {position:relative;width:20%;}
TR.rowTwo {background:#ffffff;}
TR.rowOne {background:#ffffff;}
.allHead{margin:5px;padding:5px; margin-left:10px}
.conTitle {background-color:#bcc62e;padding:0px;margin:0px;width:100%;}
.bigTitle {background-color:#490a04;padding:0px;margin:0px;width:100%;}
.bigTitle div {float:left;padding:0px 10px; font:large Arial,sans-serif;text-decoration:none;color:#ffffff;}
.conTitle h2 {float:left;margin:0px;padding:5px 10px;font: bold medium Arial,sans-serif;text-decoration:none;color:#333333;}
.bigTitle .topExit, .conTitle .topExit {float:right;padding:3px 7px 3px 3px;}
br.full {height:0px;width:0px;line-height:0px;overflow:hidden;clear:both;}
.qDesc {margin-bottom:10px; padding:10px; font:medium Arial,sans-serif;text-decoration:none;color:#000000;}
.qHeader {margin-bottom:5px; font: bold small/1.4 Arial,sans-serif;text-decoration:none;color:#000000;}
h3 {margin:0px;}
.qBody, .qBody td, .qBody th, input.open, textarea.open {margin-left:50px;font:small/1.5 Arial,sans-serif;text-decoration:none;color:#000000;}
.qContent {margin-bottom:25px; margin-left:16.5px;}
.qOption label {display:block;cursor:pointer;padding:4px;}
.qOption {padding:0px;border:1px solid #ffffff;margin-right:4px;cursor:pointer;}
div.selected label {outline:1px dotted #000000;}
.rowOne .qOption, .rowTwo .qOption {border:0;padding:3px;width:auto;}
.rowTwo div label, .rowOne div label {margin:0px;padding:2px;}
.rowTwo .rowOne {outline:1px dotted #000000;}
.qOption .qLabel {margin:0px;padding:0px;}
.rowOne .qLabel, .rowTwo .qLabel {position:absolute;width:0px;height:0px;line-height:0px;overflow:hidden;left:-5000px;}
.rowTwo th, .rowOne th {padding-left:4px;}
.topExit {padding:3px;padding-right:10px;font: bold small Arial,sans-serif;text-decoration:underline;color:#ffffff;}


/*  Element Specific Styles  */
html, body
			{
			background-color: #100708;
			border: 0;
			margin: 0;
			padding: 0;
			}
body
			{
			font: 12pt Verdana, Arial, Helvetica, sans-serif;
			}
img 		
			{
			border: 0;
			}
a, a:visited
			{
			text-decoration: none;
			}			
			
			
/*  Div Specific Styles  */

#container
			{
			width: 90%;
			margin: auto auto;
			text-align: left;
		  min-width: 557px;
			}
#headerContainer
			{
			width: 100%;
			height: 100px;
		  position: relative;
			float: center;
			background-color: #AFBD22;
			}
#headerLeft
			{
			width: 411px;
			height: 100px;
		  position: static;
			float: left;	
			background: url(../images/headerLeft100.jpg) no-repeat;
			}
#headerRight
			{
			width: 146px;
			height: 100px;
			position: relative;
			float: right;
			z-index: 9;
			background: url(../images/headerRight100.jpg) no-repeat;
			}
#menuBar
			{
			width: 100%;
			line-height: 32px;
			position: static;
			float: left;
			background: #541900;
			font-weight: bold;
			}
#menuLeft
			{
			width: auto;
			height: 32px;
			position: relative;
      float: left;
			color: #ffffff;
			text-align: center;
			vertical-align: middle;
			font-weight: bold;
			padding-left: 6px;
			}
#menuRight
		  {
			width: auto;
			height: 32px;
			position: relative;
      float: right;
			color: #ffffff;
			text-align: center;
			vertical-align: middle;
			font-weight: bold;
			padding-right: 6px;
			}
#mainContainer
			{
			width: 100%;
			height: auto;
			position: relative;
			float: left;
			background: #ffffff;
			}
#mainContent
			{
			width: auto;
			position: relative;
			float: center;
			background: #ffffff;
			padding-left:25px;
			padding-right:25px;
			padding-top:40px;
			padding-bottom:25px;
			}
#bottomSpacer
			{
			width: 100%;
			height: 70px;
			float: left;
			position: relative;
			}
	